@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'ABeeZee',sans-serif ;
}
html, body{
    overflow-x:hidden
    }
li{
    list-style: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* главная страница */
.header {
    width: 100%;
    height: 106px;
    background: #A0B3F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.header_logo {
    display: flex;
    margin-left: 1.77083333333%;
    font-size: 36px;
    margin-top: 1.5625%;
    color:white;
    font-weight: 700;
    font-family: 'ABeeZee',sans-serif ;
}

.helder_list {
    display: flex;
    font-size: 22px;
    gap: 25px;
    margin-top: 1.82291666667%;
    margin-left: 5.20833333333%;
    transition: 1s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.helder_list :hover{
    color: #ffffff; /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
}


.fon {
    background:url(Img/Fon.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1400px;
}
.fonmob{
    display: none;
}

.plag{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.shapka{
    width: 100%;
    height: 106px;
    display: flex;
    flex-wrap: wrap;
     
}
.baner{
    margin-top: 11.8229166667%;
    margin-left: 16.25%;
    font-size: 64px;
    color:white;
    height: 90px;
    font-weight: 700;
    font-family: 'ABeeZee',sans-serif ;
    text-shadow: 2px 2px black;
}
.content{
    margin-left: 16.4%;
    color: white;
}
.nov{
    height: 42px;
    text-shadow: 2px 2px black;
    font-size: 36px;
}
.novosti{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    margin-top:20px ;
}
.n1{
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-right:20px ;
    width:27%;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.4);
}

.k1{
    margin-left: 2.52083333333%;
    margin-top: 4%;
    height: 128px;
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-position: center center ;

}

.txt1{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 16px;
    margin-top:14% ;
    margin-left: 0.78125%;
}
.txt2{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 16px;
    margin-top:8% ;
    margin-left: 0.78125%;
}
.txt3{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 16px;
    margin-top:11% ;
    margin-left: 3%;
}
.txt4{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 16px;
    margin-top:14% ;
    margin-left: 3%;
}
.txt5{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 16px;
    margin-top:11% ;
    margin-left: 3%;
}
.txt6{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 16px;
    margin-top:11% ;
    margin-left: 3%;
}
/*Подвал*/
.podval{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 63px;
    background-color: A0B3F8; 
}
.podval2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 63px;
    background-color: A0B3F8; 
}

h1 {
    display: flex;
    text-decoration: underline;
    font-size: 32px;
    color:rgb(0, 0, 0); 
    }
.infpd{
    width: 95%;
    height: 58px;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    color:white;
}
.vk{
    background-repeat: no-repeat ;
    position: absolute;
    background-size: 100% 100%;
    background-position: center center ;
    margin-top: 10px;
    height: 48px;
 
}
.infpd2{
    position: absolute;
    text-align:right;

    width: 95%;
    margin-top: 5px;
    font-size: 15px;
    color:white;
}
a:hover img {   
    transform: scale(1.05); 
}
.nova {
    display: flex;
    justify-content: center ;
    height: 742px;
}
.GOD2{
    position: absolute;
    width: 930px;
    margin-top: 210px;;
}
  .osnova{
    display: flex;
    text-align: center; 
   margin-left:0px;
    font-size: 32px;
    margin-top: 50px;
    color:rgb(0, 0, 0);
  }
  .sert {
    display: block;
    margin-top: 0px;
    margin-left: 90px;
    font-size: 30px;
    font-size: 22px;
    margin-bottom: 11em;
}  
    .sert a:hover {
        color: #A0B3F8; /* Цвет ссылки при наведении на нее курсора мыши */  
        text-decoration: underline; /* Добавляем подчеркивание */
    }
 
/*////////////////Стили для <a>////////////////////////*/     
.sert a{
    color: black;
}
.txt22 a{
    color: black;
}
.txtin a{
   color: black; 
}
.lolo a{
    color: #000000;
}
/*///////////////////////////////////////////////////////*/
.prnova{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}
 .nova2{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    width: 1000px;
}
.GOD{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin-top: 80px;;
 }
.ohrana {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    margin-top: 58px;
    margin-left: 0px;
    color:rgb(0, 0, 0);
}
.oh2022{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    font-size: 30px;
    color:rgb(0, 0, 0);  
}
.ohrgod{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: 30px;
    color:rgb(0, 0, 0);  
}
.ofgod{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 30px;
    color:rgb(0, 0, 0);   
}

.txt22{
    display: block;
    font-size: 20px;
}
.txt22 a:hover {
    color: #A0B3F8; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
}
.txtin{
    display: block;
    margin-top: 10px;
    font-size: 20px;
}
.txtin a{
color: black;
}
.txtin a:hover {
    color: #A0B3F8; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
}
/*oficalnaya*/
.prnova3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}
.nova3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    width: 1000px;
    
}
.obsu {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    margin-top: 50px;
    color:rgb(0, 0, 0);
}
.GOD3 {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin-top: 50px;;
    
}
.block {
    width: 930px;
    height: 216px;
    background: #ffffff;
    border: 4px double black;
    display: flex;
    flex-wrap: wrap;
    
}
.block2 {
    width: 930px;
    height: 216px;
    background: #ffffff;
    border: 4px double black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.block3 {
    width: 930px;
    height: 216px;
    background: #ffffff;
    border: 4px double black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.txtx{
    font-size: 20px;
    margin-top: 20px;  
    margin-left: 17px;  
}
.txtx2{
    font-size: 20px;
    margin-top: 20px;   
    margin-left: 17px; 
}
.txtx3{
    font-size: 20px;
    margin-top: 20px;    
    margin-left: 17px;
}
/*Эфекты для блоков */
/*Block 1*/
.block {
    transition: 1s; /* Время эффекта */
   }
   .block:hover {
    transform: scale(1.03); /* Увеличиваем масштаб */
   }
   /*Block 2*/
   .block2 {
    transition: 1s; /* Время эффекта */
   }
   .block2:hover {
    transform: scale(1.03); /* Увеличиваем масштаб */
   }
   /*Block 3*/
   .block3 {
    transition: 1s; /* Время эффекта */
   }
   .block3:hover {
    transform: scale(1.03); /* Увеличиваем масштаб */
   }
/*oficalnaya-1*/
.prnova4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}
.nova4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    width: 1000px;
    
}
.proved {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    margin-top: 50px;
    color:rgb(0, 0, 0);
}
.GOD4 {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin-top: 30px;;
    
}
.txtproved {
    justify-content: center;
    font-size: 20px;
    color: #000000;
    line-height: 30px;
}
.skaner{
    display: flex;
    justify-content: center;
    color: #000000;
    text-decoration:underline;
  }
  /*Kontakt*/
  .txtkon{
    font-size: 20px;
    color: #000000;
    line-height: 27px;
}
.Kon{
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    margin-top: 50px;
    color:rgb(0, 0, 0);
}
.mest{
    display: flex;
    flex-wrap: wrap;
    margin-left: 345px;
    font-size: 32px;
    margin-top: 50px;
    color:rgb(0, 0, 0);
}
/*kompaniya*/

.nova5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    width: 100%;
    
}
.GOD5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    width: 930px;
    margin-top: 30px;;
    
}
.txtkom {
    justify-content: center;
    font-size: 20px;
    color: #000000;
    line-height: 30px;
    margin-top: 30px;
}
.kom {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    color:rgb(0, 0, 0);
}
.cof {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    margin-top: 20px;
    color:rgb(0, 0, 0);
}
.prnova5{
    animation:changing 30s infinite;
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-position: center center ;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url(/Img/cof1.png);
}
.ofras {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    margin-top: 100px;
    margin-left: 0px;
    color:rgb(0, 0, 0);
}
@keyframes changing {
    0%
    {
        background-image: url(/Img/cof1.png);
    }
    35%
    {
        background-image: url(/Img/cof2.png);
    }
    65%
    {
        background-image: url(/Img/cof3.png);
    }
}
/* ////////////////////////////////////Все лайны ///////////////////////////////*/
.create-line {
    position: absolute;
    width: 1100px;
    margin-left: px;
    margin-top: 210px;
    border-top: 3px solid #000000;
  }
.create-line1 {
    width: 250px;
   margin-top: 100px;
   margin-left: -243px;
    border-top: 3px solid #000000;
  }
/* годы */
.create-line2 {
    width: 900px;
    margin-top: 5px;
    border-top: 3px solid #000000;
  }
  .create-line3 {
    width: 900px;
    margin-top: 5px;
    border-top: 3px solid #000000;
  }
  .create-line4 {
    width: 920px;
    margin-top: 5px;
    border-top: 3px solid #000000;
  }
  .create-line5{
    width: 980px;
    margin-top: 5px;
    border-top: 3px solid #000000;
  }
  .create-line6 {
    width: 1050px;
    margin-top: 5px;
    border-top: 3px solid #000000;
  }
  /*oficalnaya*/
  .create-line7 {                         
    width: 930px;
    margin-top: 20px;
    border-top: 3px solid #000000;
  }
  /*kompany*/
  .create-line8 {                         
    width: 930px;
    margin-top: 20px;
    border-top: 3px solid #000000;
  }
  /*Официальные раскрытия*/
  .create-line9 {
    width: 390px;
    margin-left: -385px;
    margin-top: 160px;
    border-top: 3px solid #000000;
  }

/* Меню*/
   .helder_list ul {
     
        list-style: none; /* Для списка убираем маркеры */
        margin: 0; /* Нет отступов вокруг */
        padding: 0; /* Убираем поля вокруг текста */
        font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
        font-size: 20px; /* Размер названий в пункте меню */
       }
      .helder_list li ul  {
        position: absolute; /* Подменю позиционируются абсолютно */
        display: none; /* Скрываем подменю */
        margin-left: px; /* Сдвигаем подменю вправо */
        margin-top: 10px; /* Сдвигаем подменю вверх */
       }
      .helder_list li a {
        display: block; /* Ссылка как блочный элемент */
        padding: 5px; /* Поля вокруг надписи */
        text-decoration: none; /* Подчеркивание у ссылок убираем */
        color: #fcfcfc; /* Цвет текста */
        border: px solid #A0B3F8;/* Рамка вокруг пунктов меню */
        background-color: #A0B3F8; /* Цвет фона */
        border-bottom: none; /* Границу снизу не проводим */
        transition: 0.7s;
       }
       .helder_list li a:hover {
        color: #ffe; /* Цвет текста активного пункта */
        background-color: #5488af; /* Цвет фона активного пункта */
       }
       .helder_list li:hover ul { 
    display: block; /* При выделении пункта курсором мыши отображается подменю */
   }
   .brd {
    border-bottom: 1px solid #ccc; /* Линия снизу */
   }
   .topnav{
    display: none;
   }
@media (max-width: 1460px) {
    
    
    .content{
        margin-left: 16.4%;
        color: white;
    }
    .nov{
        height: 42px;
        text-shadow: 2px 2px black;
        font-size: 36px;
    }
    .novosti{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 600px;
        margin-top:20px ;
    }
    .n1{
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
        margin-right:20px ;
        width:27%;
        height: 270px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    
    .k1{
        margin-left: 20px;
        margin-top: 4%;
        height: 128px;
        background-repeat: no-repeat ;
        background-size: 100% 100%;
        background-position: center center ;
    
    }
    
    .txt1{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:13% ;
        margin-left: 0.78125%;
    }
    .txt2{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:7% ;
        margin-left: 0.78125%;
    }
    .txt3{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:10% ;
        margin-left: 3%;
    }
    .txt4{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:13% ;
        margin-left: 3%;
    }
    .txt5{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:10% ;
        margin-left: 3%;
    }
    .txt6{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:10% ;
        margin-left: 3%;
    }
    .header_logo{
        margin-top: 27px;
    }
    .helder_list{
   display: none;}
   /* Стиль меню навигации */
.topnav {
    overflow: hidden;
    background-color: #a0b3f8;
    position: relative;
    display: flex;
  }
  
  /* Скрыть ссылки внутри меню навигации ( кроме главной/логотип) */
  .topnav #myLinks {
    display: none;
  }
 .a_icon{
    width: 100%;
 }
  /* Ссылки меню навигации по стилю */
  .topnav a {
    color: white;
    padding: 39px 96px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Стиль меню гамбургера */
  .topnav a.icon {
    background: #a0b3f8;
    display: block;
    position: absolute;
left:0;
    top: 0;
  }
  
  /* Добавить серый цвет фона при наведении курсора мыши */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

}
@media (max-width: 420px) {
    
    
    .content{
        margin-left: 16.4%;
        color: white;
    }
    .nov{
        height: 42px;
        text-shadow: 2px 2px black;
        font-size: 36px;
    }
    .novosti{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 600px;
        margin-top:20px ;
    }
    .n1{
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
        margin-right:20px ;
        width:27%;
        height: 270px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    
    .k1{
        margin-left: 20px;
        margin-top: 4%;
        height: 128px;
        background-repeat: no-repeat ;
        background-size: 100% 100%;
        background-position: center center ;
    
    }
    
    .txt1{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:13% ;
        margin-left: 0.78125%;
    }
    .txt2{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:7% ;
        margin-left: 0.78125%;
    }
    .txt3{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:10% ;
        margin-left: 3%;
    }
    .txt4{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:13% ;
        margin-left: 3%;
    }
    .txt5{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:10% ;
        margin-left: 3%;
    }
    .txt6{
        text-shadow: 2px 2px black;
        color: white;
        font-size: 16px;
        margin-top:10% ;
        margin-left: 3%;
    }

    .fon {
        background:url(/Img/Fon.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 1590px;
    }
    .header_logo{
        margin-top: 40px;
    }
    .helder_list{
   display: none;}
   /* Стиль меню навигации */
.topnav {
    overflow: hidden;
    background-color: #a0b3f8;
    position: relative;
    display: flex;
  }
  
  /* Скрыть ссылки внутри меню навигации ( кроме главной/логотип) */
  .topnav #myLinks {
    display: none;
  }
 .a_icon{
    width: 100%;
 }
  /* Ссылки меню навигации по стилю */
  .topnav a {
    color: white;
    padding: 44px 56px;
    text-decoration: none;
    font-size: 30px;
    display: block;
  }
  
  /* Стиль меню гамбургера */
  .topnav a.icon {
    background: #a0b3f8;
    display: block;
    position: absolute;
left:0;
    top: 0;
  }
  
  /* Добавить серый цвет фона при наведении курсора мыши */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
.a.active{
left:3px;
}
